body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: rgb(240, 210, 176);
}

/* ヘッダー */
#top {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(104, 83, 73);
}
.touroku_img_logout{
    margin-top: 6px;
    width: 32px;
}
.touroku_img_logout:hover{
    opacity: 0.6;
    transition: all 1s;
}

#account_nav {
    display: flex;
    align-items: center;
}

#ul_style {
    display: inherit;
    list-style: none;
}

.li_style {
    padding: 0 1rem 0 1rem;
}
.li_style:last-of-type{
    padding: 5px 1rem 0 1rem;

}
.a_style {
    font-size: 32px;
    color: rgb(226, 226, 226);
}

.a_style:hover {
    color: rgb(180, 180, 180);
    transition: all 1s;
}

/* セクションの設定 */
#section_account {
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(240, 210, 176);
}

#section_img {
    width: 250px;   
    height: 250px;
    background-position: center;
    margin: 60px auto 0;
    background-size: cover;
    border-radius: 50%;
    -webkit-background-size: cover;
    -webkit-background-position: center;
}
#section_name {
    text-align: center;
}

#section_name h2 {
    font-size: 35px;
    margin: 0;
    margin: 24px 0 60px;
}
.friends{
    width: 90vw;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
    /* border-bottom: 1px solid; */
    padding: 20px 0;
    background-color: rgba(240, 210, 176);
    /* border-radius: 50px; */
}
.friends:hover{
    background-color: rgb(240, 223, 204);
    transition: all 1s;
}
.friends p{
    font-size: 16px;
}
.friend_imgs{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -webkit-background-position: center;
    margin: 0 20px 0 20px;

}

#friend_style {
    width: 100%;
    
    background-color: rgb(104, 83, 73);
    
}

#cursor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.friend_p_box {
    display: flex;
    justify-content: space-around;

}

.friend_p {
    font-size: 20px;
    color: rgb(226, 226, 226);
    margin-right: 8vw;
}

#friend_id {
    width: 50px;
    height: 50px;
}

/* ボタンのスタイルを消す */
.button_style {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}


#scroll_info {
    display: none;
}
#scroll_box{
    width: 90vw;
    margin: 0 auto;
    /* justify-content: space-around;
    flex-wrap: wrap; */
}
#upstyle {
    text-align: center;
    cursor: pointer;    /* display: none; */
}
#upstyle img{
    width: 50px;
    height: 50px;
}

#friend_id1 {
    text-align: center;
}
.account_img{
    width: 200px;
    
}



/* スマホ以上------------------- */
@media screen and (min-width:414px){
    .friends p{
        font-size: 20px;
    }

    .friend_imgs{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -webkit-background-position: center;
    }
}







/* パソコン以上----------------------------- */
@media screen and (min-width:768px){

    #section_img {
        width: 300px;   
        height: 300px;
        margin: 100px auto 0;
    }

    #section_name h2 {
        font-size: 40px;
    }

    .friend_p {
        font-size: 35px;
    }
    .friends p{
        margin: 40 auto;
    }
    .friends p{
        font-size: 40px;
        margin: 0;
    }
    .friend_imgs{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background-size: cover;
        -webkit-background-size: cover;
        -webkit-background-position: center;
    }
}