body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: rgb(240,210,176);
    background-size: cover;
    background-repeat: repeat;
    /* background-position: center; */
    background-attachment: fixed;
    background:url(../img/sora.png);


}
/* body:before{
    content: "";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100vh;
    background:url(../img/IMG_0123.jpg) center no-repeat;
    background-size:cover;
} */

.chat_head{
    background: rgb(104, 83, 73);
    
    position: relative;
    top:0;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.head{
    display: flex;
    align-items: center;
    height: 60px;
}
.modoru{
    font-size: 35px;
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
.modoru:hover{
    opacity: 0.5;
    transition: all 0.5s;
}


#sitabtn {
    background: url(../img/sita.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 15px;
    /* top: 10px; */
    cursor: pointer;
    /* opacity: 0.5; */
    z-index: 1;
}

#sitabtn:hover{
    opacity: 0.5;
    transition: all 0.5s;
}

.aite_name{
    margin-left: 5vw;
    color: white;
}
.message{
    width: 95vw;
    margin: 100px auto;
    padding-bottom: 50px;
}
.zibun{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aite{
    display: flex;
    align-items: center;
}
.zibun,.aite{
    margin: 30px 0;
}
.zibun-message{
    border: 1px solid #777;
    background: #fff;
    border: 1px solid #777;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 150px;
    background: rgb(123, 230, 123);
    word-wrap: break-word;
}
.aite-message{
    position: relative;
    border: 1px solid #777;
    background: #fff;
    border: 1px solid #777;
    padding: 5px 10px;
    border-radius: 15px;
    max-width: 150px;
    word-wrap: break-word;
}

.zibun-img{
    width: 170px;
    height: auto;
    border-radius: 10px;
}
.aite-img{
    width: 170px;
    height: auto;
    border-radius: 10px;

}

.zibun-topuga{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}
.aite-topuga{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}
.date{
    width:80vw;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 2px rgb(104, 83, 73);
}
.time{
    font-size: 14px;
    margin: 0 10px;
}

.message_box{
    background: rgb(104, 83, 73);
    
    position: relative;
    bottom:0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea{
    height: 40px;
    width: 50vw;
    resize: none;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 10px;
}

.message_label{
    cursor: pointer;
    position: relative;
    top : 20%;
    right: 2%;
}
.message_img{
    width: 55px;
    height: 55px;
    background: url("../img/file.png");
    background-size: cover;
    background-position: center;

}
.set_input {
    display: none;
}

#send{
    cursor: pointer;
}

#send:hover{
    opacity: 0.5;
    transition: all 0.5s;
}







/* スマホ以上-------------------------- */
@media screen and (min-width:414px){
    .message{
        width: 80vw;
        margin: 100px auto;
        padding: 0;
    }

}


/* ipad以上--------------------------- */
@media screen and (min-width:768px){

    /* チャットページ */
    .zibun,.aite{
        margin: 50px 0;
    }
    .date{
        margin: 60px auto;
    }

    .zibun-message{
        max-width: 450px;
        font-size: 20px;
    }
    .aite-message{
        max-width: 450px;
        font-size: 20px;
    }
    .zibun-topuga{
        width: 80px;
        height: 80px;
    }
    .aite-topuga{
        width: 80px;
        height: 80px;
    }
    .zibun-img{
        width: 250px;
    }
    .aite-img{
        width: 250px;
    }

}
