body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background: rgb(240,210,176);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.hhh{
    text-align: center;
    margin-top: 80px;
}
.hhh h1{
    margin: 0;
    letter-spacing: 10px;
    font-size: 50px;
}
.hhh p{
    margin: 0;
}
.rogin_touroku_style{
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.rogin_touroku_style a{
    display: grid;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(104, 83, 73);
}
.rogin_touroku_style a:hover{
    /* color: rgb(146, 146, 146); */
    color: rgb(180, 180, 180);
    transition: all 1s;
}
.rogin_touroku_style i{
    font-size: 50px;
}


.rogin_touroku_style1{
    text-align: center;
    width: 100%;
}
.rogin_touroku_style1 a{
    display: grid;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(104, 83, 73);
}
.rogin_touroku_style1 a:hover{
    /* color: rgb(146, 146, 146); */
    color: rgb(180, 180, 180);
    transition: all 1s;
}
.rogin_touroku_style1 i{
    font-size: 50px;
}

/* 予約フォーム------------------------------------------ */

hgroup { 
    text-align:center;
    margin: 4em auto 0;
    width: 90vw;

}
hgroup h1{
    font-size: 22px;
    color: rgb(115, 162, 200);
}
hgroup p{
    font-size: 12px;
    color: #747474;
}
.yoyakuhhh{
    margin: 0;
    
}
.yoyakumain{
    position: relative;
    top:100px;
}
.yoyakutx{
    text-align: center;
}
.yoyakutx h2{
    color: rgb(115, 162, 200);
    font-size: 22px;
    margin-top: 60px;
}
.yoyakutx p{
    font-size:14px;
}
#form {
    width: 70vw;
    max-width: 400px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    z-index: 0;
    text-align: center;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 3px 1px #8d8c86;
}
    
    

#name{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin-bottom: 40px;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;

}
#pass{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin: 0;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;

}
#login_name{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin: 0 auto 40px;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;

}
#login_pass{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin: 0 auto 40px;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;

}
#kakunin{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin: 0;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;
    text-align: center;
}
.nameng{
    font-size: 15px;
    color: rgb(240, 45, 45);
    margin: 0;
}
.passng{
    font-size: 15px;
    color: rgb(240, 45, 45);
    margin: 0;
    
}
.idng{
    font-size: 15px;
    color: rgb(240, 45, 45);
    margin: 0;
    
}
.touroku_p_style{
    font-size: 10px;
    margin: 0;
    
}
#id{
    font-size: 16px; 
    width: 70vw;
    max-width: 350px;
    padding: 10px 0;
    margin: 0;
    -webkit-appearance: none;
    display: block;
    color: #636363;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
    /* background: rgb(240,210,176); */
    background: transparent;

}
input:first-of-type{
    margin-top: 0;
}

#form .group{
    font-size: 18px; 
    width: 70vw;
    max-width: 350px;
    margin: 3px auto 15px;
    /* padding: 5px; */
    color: rgba(87, 87, 87, 0.938);
}
.content-wrap{
    margin-top: 60px;
}
.back{
    width: 200px;
    max-width: 350px;
    padding: 10px 0;
    display: block;
    margin: 0 auto 10px;
    border-radius: 30px;
    border: 1px solid #757575;
    background: rgba(241, 241, 241, 0.712);
    
}
.login_kanryou{
    text-align: center;
}
.login_kanryou h2{
    margin-top: 100px;
}
.login_kanryou p{
    font-size: 20px;
}
.login_kanryou a{
    color: #747474;
    font-size: 20px;
}
.login_kanryou a:hover{
    color: #414040;
    transition: all 2s;
}
.touroku_submit{
    display: grid;
    width: 100%;
    text-align: center;
}
.back a{
    color: #636363;
    font-size: 16px;
    -webkit-appearance: none;
    text-decoration: none;
}
.back:hover{
    cursor: pointer;
    background: rgba(23, 149, 153, 0.288);
    transition: all 0.5s;
}
#submit{
    -webkit-appearance: none;
    width: 200px;
    margin: 50px auto 45px;
    border-radius: 30px;
    border: 1px solid #757575;
    padding: 10px;
    background: rgb(104, 83, 73);
    color: #fff;
}

#submit:hover{
    cursor: pointer;
    background: rgba(23, 149, 153, 0.288);
    transition: all 0.5s;
}
input:focus { outline: none; }


.aki{
    font-size: 12px;
}

.emaildame,.teldame,.datedame{
    color: red;
    margin: 0 0 20px;
}

.tx{
    text-align: center;
}



.evalue{
    margin-top: 40px;
    text-align: center;
}
.error{
    font-size:24px;
    color: red;
}








/* スマホ以上-------------------------- */
@media screen and (min-width:414px){
    

}


/* ipad以上--------------------------- */
@media screen and (min-width:768px){

   

}
